module1_basics/module_1_demos/gerrit_reviews_gromacs.csv
module1_basics/module_1_demos/featurized_lines.csv
module1_basics/module_1_demos/train_lines.csv
module 1.pptx
module 2.pptx
module 3.pptx
module 4.pptx
module 5.pptx
module 6.pptx
module2_measurement_systems/module_2_demos/measurement_results.db
